<%= render 'productions/side_nav' %>

<div class="small-8 colummn center row">
  <h2><%= @mine.name %></h2>
  
  <div class="row display">
    <p>      
      <%= @mine.description %>
    </p>    
  </div>
  <div class="row display">
    <fieldset>
      <%= content_tag :legend, t(:location) %>
      <%= @mine.latitude %>&nbsp;,&nbsp;<%= @mine.longitude %>
    </fieldset>
  </div>
  
  <div class="row display">
    <fieldset>
      <%= content_tag :legend, t(:capacity) %>
      <div class="row">
        <div class="small-4 columns">
          <strong><%= t(:expected_capacity, scope:'activerecord.attributes.mine') %>:</strong>
          <%= @mine.expected_capacity %>
        </div>
        <div class="small-4 columns">
          <strong><%= t(:real_capacity, scope:'activerecord.attributes.mine') %>:</strong>
          <%= @mine.real_capacity %>
        </div>
      </div>
    </fieldset>
  </div>
  
  <%= link_to t(:edit), edit_mine_path(@mine) %> |
  <%= link_to t(:back), mines_path %>
</div>


