<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mine.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mine.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @mine.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @mine.longitude %>
</p>

<p>
  <strong>Expected capacity:</strong>
  <%= @mine.expected_capacity %>
</p>

<p>
  <strong>Real capacity:</strong>
  <%= @mine.real_capacity %>
</p>

<%= link_to 'Edit', edit_mine_path(@mine) %> |
<%= link_to 'Back', mines_path %>
