<%= render 'side_nav' %>

<div class = "row">
  <h2><%= t(:user, scope:'activerecord.models', count:@users.size) %></h2>
  <table>
    <thead>
      <tr>
        <th width="200"><%= t(:username, scope:'activerecord.attributes.user') %></th>
        <th width="200"><%= t(:email, scope:'activerecord.attributes.user') %></th>
        <th width="200"><%= t(:name, scope:'activerecord.attributes.user') %></th>
        <th width="200"><%= t(:lastname, scope:'activerecord.attributes.user') %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.name %></td>
          <td><%= user.lastname %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



