<div class="fixed">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">      
      <li class="name">
        <h1><%= link_to $app_name, root_path %></h1>
      </li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span>Menu</span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">        
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <%= text_field_tag(:q, nil, placeholder: t(:hint, scope:'search')) %>             
            </div>
            <div class="large-4 small-3 columns">
              <%= link_to t(:button, scope:'search'),'#', class:"button expand" %>
            </div>
          </div>
        </li>
        <li class="divider"></li>
        <%= render 'layouts/login' %>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left">
        <% if user_signed_in? %>
          <li class="has-dropdown">          
            <%= link_to t(:work_in), '#' %>
            <ul class="dropdown">
              <li>
                <%= link_to t(:production), production_path %>
              </li>
              <li>
                <%= link_to t(:sales), '#' %>
              </li>            
              <li>
                <%= link_to t(:accountings), '#' %>
              </li>
            </ul>
          </li>
        
          <% if current_user.admin? %>
            <li class="has-dropdown">          
              <a href="#">Admin</a>
              <ul class="dropdown">
                <li>
                  <%= link_to t(:user,scope:'activerecord.models', count:0), admin_users_path %>
                </li>   
                <li>
                  <%= link_to t(:settings), admin_settings_path %>          
                </li>
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>
  </nav>
</div>