<% if user_signed_in? %>
  <li class="has-dropdown">
    <% user_ico = content_tag(:i,"", class: "fi-torso white-torso") %>
    <%= link_to user_ico + " " + current_user.username, "#" %>
    <ul class="dropdown">
      <li>
        <%= link_to(t(:my_account, scope:'session'), edit_user_registration_path) %>        
      </li>
      <% if current_user.admin? %>
        <li>
          <%= link_to t(:settings), admin_settings_path %>          
        </li>
      <% end %>
      <li>
        <%= link_to(t(:logout,scope:'session'), destroy_user_session_path, :method => :delete) %>
      </li>
    </ul>
  </li>
<% else %>
  <li class="has-form">
    <%= link_to(t(:login, scope:'session'), new_user_session_path, class: "button") %>
  </li>
<% end %>